{{>layout/chatHeader}}

<h1> 익명 채팅 </h1>
<a href="/" role="button" class="btn btn-outline-primary">나가기</a>
<div id="main-content" class="container">
    <div class="row">
        <textarea id="chat-content" rows="30" style="width:100%;" readonly></textarea>
    </div>
    <div class="row" id="chat-action-div"></div>
</div>

{{>layout/chatFooter}}