{{>layout/chatHeader}}

<h1>채 팅</h1>
<div id="main-content" class="container">
    <div class="row">
        <textarea id="chat-content" rows="30" style="width:100%;" readonly></textarea>
    </div>
    <div class="row" id="chat-action-div"></div>
</div>

{{>layout/chatFooter}}