{{>layout/header}}

<h2 xmlns:th="http://www.w3.org/1999/xhtml"> 웹 서비스 </h2>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            {{#name}}
                <span id="user">{{name}}</span>  접속 중
                <a href="/posts/save" role="button" class="btn btn-outline-primary">글 등록</a>
                <a href="/chat" class="btn btn-outline-primary">채팅방 입장</a>
                <a href="/logout" class="btn btn-outline-danger" role="button">로그아웃</a>
            {{/name}}
            {{^name}}
                <a href="/oauth2/authorization/google" class="btn btn-outline-primary" role="button">구글 로그인</a>
                <a href="/oauth2/authorization/naver" class="btn btn-outline-primary" role="button">네이버 로그인</a>
            {{/name}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">게시글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/contents/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>

    <div>
        {{#pageNumber}}
            <a href="/?page={{.}}">{{.}}</a>
        {{/pageNumber}}
    </div>
    <form action="/post/search" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요."/>
            <button>검색하기</button>
        </div>
    </form>
</div>

{{>layout/footer}}